# Environment
.env
.env.*

# Virtual environment
.venv/
venv/

# Logs
logs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Pytest
.pytest_cache/

# Pyenv
.python-version

# VS Code
.vscode/

# OS
.DS_Store

# Distribution
dist/
build/
*.egg-info/
